<div>
     <i class="logo fas fa-arrow-up"></i>
    <h1 id="title">Pitch Elevator</h1>
   
    <button id="login" class="btn btn-light float-right" data-toggle="modal" data-target="#modalLoginForm">LOGIN</button>
     <button id="register" class="btn btn-light float-right" data-toggle="modal" data-target="#modalRegisterForm"
>REGISTER</button>
</div>
